@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@utility animate-marquee {
  animation: marquee 35s linear infinite;
}



html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
  overscroll-behavior-x: none;
}

#root {
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}
